*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 0 20px;
}

.container .heading{
    width: 50%;
    padding-bottom: 50px;
    text-align: center;
}

.container .heading h3{
    font-size: 3rem;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
	padding: 2rem 5% 1rem 5%;
    color: #262626;
    border-bottom: 3px solid #262626;
}

.container .heading h3 span{
    font-weight: 300;
}

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .column{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

figure{
    margin-bottom: 5px;
    position: relative;
}

figcaption {
    padding: 10px;
    line-height: 1.8;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    color: #fff;
    opacity: 0.7;
    width: 100%;
}

img{
    object-fit: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

img:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.figTitle{
    font-weight: 800;
}

.figAuthor{
    font-weight: 300;
    font-size: 1.2rem;
}

.container .box .column img{
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media only screen and (max-width:769px){
    
    
    .container .box{
        flex-direction: column;
    }

    .container .box .column{
        width: 100%;
    }
}

@media only screen and (max-width:643px){
    .container .heading{
        width: 100%;
    }
    
    .container .heading h3{
        font-size: 2em;
    }
}